{{ partial "head.html" }}

<body>
    {{ partial "header.html" . }}
    <main>

        <div class="content-wrapper">
            <nav class="vertical-nav">
                <ul>
                    <li><a href="#blog-posts" class="active">blog posts</a></li>
                    <li><a href="#publications">publications</a></li>
                </ul>
            </nav>
            <main class="main-content">
                <section id="blog-posts" class="section">
                    <h2>blog posts</h2>
                    
                    <ul class="writing-list">
                        <!-- {{ range (where .Site.RegularPages "Section" "posts") }} -->
                        {{ range .Site.RegularPages.ByDate.Reverse }}
                        <li class="writing-item">
                            <a href="{{ .RelPermalink }}" class="writing-link">
                                <div class="writing-title">{{ .Title }}</div>
                            </a>
                            <div class="writing-meta">{{ .Date.Format "January 2, 2006" }} | {{.ReadingTime}} min</div>
                        </li>
                        {{ end }}
                        <!-- {{ end }} -->
                    </ul>
                    
                    
                </section>
                
                <section id="publications" class="section">
                    <h2>publications</h2>
                    <p>Unfortunately, none for now. But hopefully, it's still in the cards for me.</p>
                </section>
            </main>
        </div>

    </main>
    {{ partial "footer.html" . }}
</body>
