<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ "/../favicon.ico" | relURL }}" type="image/x-icon">
<title>{{ Title }}</title>
<script src="{{ "main.js" | relURL }}"></script>
<link rel="stylesheet" href="{{ "post.css" | relURL }}">

<body>
    <header>
        <h1>
            <a href="https://bendemonium.github.io/blog">
            <img src="{{"favicon.ico" | absURL}}" alt="ben" style="height: 45px; margin-right: 5px; vertical-align: bottom;"></a> 
            <button id="darkModeToggle">
                <img src="{{"darkmode.png" | absURL}}" alt="ben" style="height: 32px; margin-right: 5px; vertical-align: top">
            </button> </h1>
        <div class="header-line"></div>
        <div class="meta"> {{ .Date.Format "2006 January 2" }} </div>
    </header>
    
    <main>
    
    <h1>{{ .Title }}</h1>


    {{ .Content}}

    </main>

    {{ partial "footer.html" . }}
</body>
