<header>
    <h1><a href="https://bendemonium.github.io" style="text-decoration: none; color: inherit;">ben</a></h1>
    <div class="header-line"></div>
        <nav class="top-nav">
            <a href="https://bendemonium.github.io/about.html">about</a>
            <a href="https://bendemonium.github.io/exp.html">exp/proj</a>
            <a href="https://bendemonium.github.io/currently.html">up to _</a>
            <a href="/" class="active">writing</a>
            <a href="https://bendemonium.github.io/art.html">art</a>
            <button id="darkModeToggle">🌓</button>
        </nav>
    <div class="header-line"></div>
</header>
